.text {
  font-family: "Retro_Gaming", sans-serif;
}
.block {
  display: block;
}

.block__second {
  text-transform: uppercase;
  display: block;
}

.block__second:last-child {
  font-size: 2rem;
  padding-top: 10px;
}
