html,
body {
  padding: 0;
  margin: 0;
  font-family: Vanilla;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Vanilla";
  src: url("../assets/Vanilla.ttf");
  font-weight: 400;
  font-style: normal;
}
