.font {
  font-family: "Retro_Gaming", sans-serif;
}

.mint {
  padding-top: 20px;
  text-decoration: none;
  position: relative;
  font-family: "Retro_Gaming", sans-serif;
}

.mint:after {
  position: absolute;
  content: "";
  height: 2px;

  bottom: -4px;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  background: white;

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* optional hover classes used with anmiation */
.mint:hover:after {
  width: 100%;
  background: rgb(236, 8, 135);
}
